/* 
    General Styles
*/

.fa-trash-alt{ 
    font-size: 1.5rem; 
    opacity: 0; 
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.fa-trash-alt path{ fill: gray; }

.fa-trash-alt:hover path{ fill: black; }

li:hover .fa-trash-alt{opacity: 1;}

.done{ 
    text-decoration: line-through; 
    text-decoration-style: wavy;
    text-decoration-color: red;
}


li .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


li .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


li .container:hover input[type='checkbox'] ~ .checkmark,
.itemText:hover + li.container > .checkmark {
    background-color: #ccc;
}


li .container input[type='checkbox']:checked ~ .checkmark {
    background-color: #2196F3;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


li .container input[type='checkbox']:checked ~ .checkmark:after {
    display: block;
}


li .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

li{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid lightgray;
}

.itemText,.fa-trash-alt{
    cursor: pointer;
}