.backgroundDiv{
    background-image: url("../img/backroundimg.jpeg");
    background-position: left 200px bottom 20px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
}

.landingMainDiv h2, p{
    color: white;
    margin-bottom: 25px;
}

.loginscreen {
    color: white
}


