.backgroundDiv{
    background-image: url("../img/backroundimg.jpeg");
    background-position: left 200px bottom 20px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .backgroundDiv {
    background-image: url("../img/backroundimg.jpeg");
    background-position: left 30px bottom 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 900px) {
  .backgroundDiv {
    background-image: url("../img/backroundimg.jpeg");
    background-position: left -50px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 105% 310%;
  }
}

.landingMainDiv h2, p{
    color: white;
    margin-bottom: 25px;
}

.loginscreen {
    color: white
}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (orientation: portrait) {
body { width: 100%; max-width: 100%; height: auto;
 }
}
